# MONGO_URI=mongodb+srv://arifwahyu:qweqwe@rimba.qzxj8.mongodb.net/?retryWrites=true&w=majority&appName=rimba
MONGO_URI=mongodb://arifwahyu:qweqwe@rimba-shard-00-00.qzxj8.mongodb.net:27017,rimba-shard-00-01.qzxj8.mongodb.net:27017,rimba-shard-00-02.qzxj8.mongodb.net:27017/?ssl=true&replicaSet=atlas-w4t6x8-shard-0&authSource=admin&retryWrites=true&w=majority&appName=rimba